<div class="row center-container">
    <div class="col-sm-12 col-md-12 col-lg-11">
        <div class="padding">
            <div class="box">
                <div class="box-header b-b">
                    <h2>
                        <a class="text-success" ui-sref="mainState.maintenance.clientMaintenance.detail({id: vm.viewModel.id})">{{vm.client.entityName}}</a> / Billing Rates
                    </h2>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <form role="form" name="RecordForm" novalidate>
                            <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        <a ng-click="vm.pageGrid.sort('userName')"> User</a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pageGrid.sort('Rate')"> Rate</a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pageGrid.sort('startDate')"> Start Date</a>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pageGrid.sort('endDate')">End Date</a>
                                    </th>
                                    <th>
                                        <a class="btn btn-xs btn-fw btn-primary" ng-click="vm.newRecord()">
                                            <i class="fa fa-plus"></i> New
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="i in vm.gridModel.data" st-select-row="row">
                                    <td>{{i.userName}}</td>
                                    <td>{{i.rate}}</td>
                                    <td>{{i.startDate | date: 'yyyy/MM/dd'}}</td>
                                    <td>{{i.endDate | date: 'yyyy/MM/dd'}}</td>
                                    <td>
                                        <a class="btn btn-xs btn-fw btn-outline b-{{app.setting.theme.primary}} text-{{app.setting.theme.primary}}"
                                           ui-sref="mainState.maintenance.clientMaintenance.billingRatesDetail({clientId: vm.viewModel.id, id: i.id})">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-show="vm.gridModel.data.length == 0">
                                    <td colspan="5">
                                        No Records
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
