USE [TRiZHub]
GO
/****** Object:  StoredProcedure [dbo].[lsp_getProjectBillableHours]    Script Date: 7/22/2021 2:08:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[lsp_getProjectBillableHours] 
		@StartDate datetime,
		@EndDate datetime,
		@projectID uniqueIdentifier AS
BEGIN

select case when sp.SubProjectNumber is null then p.ProjectNumber else p.ProjectNumber + ':' + sp.SubProjectNumber end  Phase,
				u.FirstName + ' ' + u.Surname as Contact,
				t.TeamName,
				convert(nvarchar(50), empl.Id) as EmployerId,
				empl.Name as Employer,
				a.ActivityName,
				sum(ts.Hours) Hours,
				br.Rate
				from TimesheetEntry ts

join UserIdentity u on ts.UserAccountId = u.Id 
	and ts.DateEntry >= @StartDate and ts.DateEntry < @EndDate 
    and ts.IsActive = 1
	and ts.ProjectId = @projectID
join Team t on ts.TeamId = t.Id
join Activity a on ts.ActivityId = a.Id
left join BillingRates br on ts.UserAccountId = br.UserAccountId and ts.DateEntry >= br.StartDate and DateEntry <= br.EndDate 
left join TeamJobDesignation td on ts.UserAccountId = td.UserAccountId and ts.DateEntry >= td.StartDate and ts.DateEntry <= td.EndDate 
left join Employer empl on td.EmployerId = empl.Id
left join SubProject sp on ts.SubProjectId = sp.Id
left join Project p on ts.ProjectId = p.Id
group by case when sp.SubProjectNumber is null then p.ProjectNumber else p.ProjectNumber + ':' + sp.SubProjectNumber end , u.FirstName + ' ' + u.Surname , t.TeamName, a.ActivityName, empl.Name, empl.Id,  br.Rate
order by 1, a.ActivityName, t.TeamName, u.FirstName + ' ' + u.Surname


END

--exec [lsp_getProjectBillableHours] '25-Jan-2021 00:00:00','21-Feb-2021 00:00:00','50d0a43b-fd3d-4c61-8229-8e3d5e75d27b'