<div class="padding">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row row-sm">
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-8 col-xs-offset-1">
                            <img src="Content/Images/aboutUsCloud.jpg" class="w-full" />
                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>