<div class="padding">
    <div class="container">
        <div class="box">
            <div class="box-header b-b">
                <h2>
                    <a class="text-success" ui-sref="mainState.maintenance.userMaintenance.emergencyContactGrid({id: vm.viewModel.userAccountId})">Emergency Contact Register</a> / Add
                </h2>
            </div>
            <div class="box-body">
                <form role="form" name="EditForm" novalidate>
                    <div class="form-group row" show-errors>
                        <label for="name" class="col-sm-2 form-control-label">Name:</label>
                        <div class="col-sm-9">
                            <input name="name" type="text" ng-model="vm.viewModel.name" class="form-control" required/>
                            <span class="text-help" ng-show="EditForm.name.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="form-group row" show-errors>
                        <label for="surname" class="col-sm-2 form-control-label">Surname:</label>
                        <div class="col-sm-9">
                            <input name="surname" type="text" ng-model="vm.viewModel.surname" class="form-control" required/>
                            <span class="text-help" ng-show="EditForm.surname.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="form-group row" show-errors>
                        <label for="relationship" class="col-sm-2 form-control-label">Relationship:</label>
                        <div class="col-sm-9">
                            <input name="relationship" type="text" ng-model="vm.viewModel.relationship" class="form-control" required/>
                            <span class="text-help" ng-show="EditForm.relationship.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="form-group row" show-errors>
                        <label for="cellphoneNumber" class="col-sm-2 form-control-label">Cellphone Number:</label>
                        <div class="col-sm-9">
                            <input name="cellphoneNumber" type="text" ng-model="vm.viewModel.cellphoneNumber" class="form-control" required/>
                            <span class="text-help" ng-show="EditForm.cellphoneNumber.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="form-group row" show-errors>
                        <label for="landLineNumber" class="col-sm-2 form-control-label">Land Line Number:</label>
                        <div class="col-sm-9">
                            <input name="medicalContactNumber" type="text" ng-model="vm.viewModel.landLineNumber" class="form-control"/>
                            <span class="text-help" ng-show="EditForm.landLineNumber.$invalid"></span>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <div class="col-md-12 pull-right text-right">
                            <button class="btn btn-outline b-primary text-primary" ui-sref="mainState.maintenance.userMaintenance.emergencyContactGrid({id: vm.viewModel.userAccountId})">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                            </button>

                            <button class="btn btn-fw primary" ng-click="vm.submitForm()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger" ng-if="vm.hasError">{{vm.errorMessage}}</div>
                <div class="alert alert-success" ng-if="vm.saveSuccess">
                    <strong>Success!</strong>
                </div>

            </div>
        </div>
    </div>
</div>