<div class="padding">
    <div class="container">
        <div class="box">
            <div class="box-header b-b">
                <h2>
                    <a class="text-success" ui-sref="mainState.maintenance.billingRatesMaintenance.grid">Billing Rates</a>
                </h2>
            </div>
            <div class="box-body">
                <form role="form" name="EditForm" novalidate>

                    <div class="form-group row" show-errors>
                        <label for="user" class="col-sm-2 form-control-label">User:</label>
                        <div class="col-sm-9">
                            <select name="user"
                                    class="form-control"
                                    ng-options="s.id as s.description for s in vm.userDropdown"
                                    ng-model="vm.viewModel.userAccountId"
                                    ng-disabled="vm.userLocked"
                                    ng-required="!vm.userLocked"></select>
                            <span class="text-help" ng-show="EditForm.user.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="form-group row" show-errors>
                        <label for="scope" class="col-sm-2 form-control-label">Scope:</label>
                        <div class="col-sm-9">
                            <select name="scope" class="form-control" ng-model="vm.scopeType" ng-change="vm.onScopeChanged()" required>
                                <option value="Default">Default</option>
                                <option value="Client">Client</option>
                                <option value="Project">Project</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" show-errors ng-show="vm.scopeType === 'Client'">
                        <label for="client" class="col-sm-2 form-control-label">Client:</label>
                        <div class="col-sm-9">
                            <select name="client"
                                    class="form-control"
                                    ng-options="s.id as s.entityName for s in vm.clientDropdown"
                                    ng-model="vm.viewModel.clientId"
                                    ng-required="vm.scopeType === 'Client'"></select>
                            <span class="text-help" ng-show="EditForm.client.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="form-group row" show-errors ng-show="vm.scopeType === 'Project'">
                        <label for="project" class="col-sm-2 form-control-label">Project:</label>
                        <div class="col-sm-9">
                            <select name="project"
                                    class="form-control"
                                    ng-options="s.id as s.description for s in vm.projectDropdown"
                                    ng-model="vm.viewModel.projectId"
                                    ng-required="vm.scopeType === 'Project'"></select>
                            <span class="text-help" ng-show="EditForm.project.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="form-group row" show-errors>
                        <label for="rate" class="col-sm-2 form-control-label">Rate:</label>
                        <div class="col-sm-9">
                            <input name="rate" type="number" ng-model="vm.viewModel.rate" class="form-control" required maxlength="10" />
                            <span class="text-help" ng-show="EditForm.rate.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="form-group row" show-errors>
                        <label for="startDate" class="col-sm-2 form-control-label">Start Date:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="vm.viewModel.startDate"
                                   data-icon-left="fa fa-chevron-left"
                                   data-icon-right="fa fa-chevron-right"
                                   autoclose="true"
                                   name="startDate" data-date-format="yyyy/MM/dd"
                                   bs-datepicker placeholder="Start Date" required autocomplete="off">
                            <span class="text-help" ng-show="EditForm.startDate.$invalid">!*</span>
                        </div>
                    </div>

                    <div class="form-group row" show-errors>
                        <label for="endDate" class="col-sm-2 form-control-label">End Date:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"
                                   ng-model="vm.viewModel.endDate"
                                   data-icon-left="fa fa-chevron-left"
                                   data-icon-right="fa fa-chevron-right"
                                   name="endDate" data-date-format="yyyy/MM/dd"
                                   autoclose="true"
                                   bs-datepicker placeholder="End Date" required autocomplete="off">
                            <span class="text-help" ng-show="EditForm.endDate.$invalid">!*</span>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group row">
                        <div class="col-md-12 pull-right text-right">
                            <button class="btn btn-outline b-primary text-primary" ui-sref="mainState.maintenance.billingRatesMaintenance.grid">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                            </button>
                            <a class="btn btn-outline b-danger text-danger"
                               ng-if="!vm.isNew"
                               ng-click="vm.deleteRecord()">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                            <button class="btn btn-fw primary" ng-click="vm.submitForm()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-danger" ng-if="vm.hasError">{{vm.errorMessage}}</div>
                    <div class="alert alert-success" ng-if="vm.saveSuccess">
                        <strong>Success!</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

