<div class="footer p-a p-x-md">
    <div class="row">
        <div class="col-sm-8">
            <div class="clearfix">
                <!--<a class="btn btn-icon btn-social btn-sm white">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-facebook indigo"></i>
                </a>
                <a class="btn btn-icon btn-social btn-sm white">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-twitter blue"></i>
                </a>
                <a class="btn btn-icon btn-social btn-sm white">
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-google-plus red"></i>
                </a>-->
            </div>
        </div>
        <div class="col-sm-4">
            

            <!--<div class="text-sm-right text-xs-left">
                <small class="text-muted">&copy; Copyright 2015. All rights reserved.</small>
            </div>-->
        </div>
    </div>
</div>