<div class="padding">
    <div class="container">
        <div class="box">
            <div class="box-header b-b">
                <h2>
                    <a class="text-success" ui-sref="mainState.maintenance.roleMaintenance.grid">Role Maintenance</a> / {{vm.viewModel.roleName}}
                </h2>
            </div>
            <div class="box-body">
                <form role="form" name="EditForm" novalidate>
                    <div class="form-group row" show-errors>
                        <label for="roleName" class="col-sm-2 form-control-label">Role Name:</label>
                        <div class="col-sm-9">
                            <input name="roleName" type="text" class="form-control" ng-model="vm.viewModel.roleName" ng-required="true">
                            <span class="text-help" ng-show="EditForm.roleName.$invalid">Required</span>
                        </div>
                    </div>
                    <div class="form-group row" show-errors>
                        <label for="description" class="col-sm-2 form-control-label">Description:</label>
                        <div class="col-sm-9">
                            <input name="description" type="text" ng-model="vm.viewModel.description" class="form-control" rows="3" ng-required="true">
                            <span class="text-help" ng-show="EditForm.description.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            Is Active:
                        </div>
                        <div class="col-md-9">
                            <label class="md-switch">
                                <input type="checkbox" ng-model="vm.viewModel.isActive">
                                <i class="indigo"></i>
                            </label>
                        </div>
                    </div>
                </form>
                
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a>Deny / Allow</a>
                            </th>
                            <th>
                                <a>Privilege Description</a>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="priv in vm.viewModel.permissions | orderBy:'description'">
                            <td class="row-col-xs">
                                <label class="md-switch">
                                    <input type="checkbox" ng-model="priv.selected">
                                    <i class="indigo"></i>
                                </label>
                            </td>
                            <td>
                                {{priv.description}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>



                <div class="form-group row">
                    <div class="col-md-12 pull-right text-right">
                        <button class="btn btn-outline b-primary text-primary" ui-sref="mainState.maintenance.roleMaintenance.grid">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                        </button>
                        <button class="btn btn-fw primary" ng-click="vm.submitForm()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
                        </button>
                    </div>
                </div>

                <div class="container">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="alert alert-danger" ng-if="vm.hasError">{{vm.errorMessage}}</div>
                        <div class="alert alert-success" ng-if="vm.saveSuccess">
                            <strong>Success!</strong>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
