<div class="row center-container">
    <div class="col-sm-12 col-md-12 col-lg-11">
        <div class="padding">
            <div class="box">
                <div class="box-header b-b">
                    <h2>
                        <a class="text-success" ui-sref="mainState.maintenance.userMaintenance.detail({id: vm.viewModel.id})">{{vm.user.firstName}} {{vm.user.surName}}</a>/ Emergency Contact Details
                    </h2>
                </div>


                <hr/>
                <div class="box-body">

                    <div class="table-responsive">
                        <form role="form" name="RecordForm" novalidate>

                            <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>

                                        <a ng-click="vm.pageGrid.sort('name')">Name</a>
                                        <i ng-class="{'fa fa-angle-double-up':vm.gridModel.sortKeyOrder.order=='ASC' && vm.gridModel.sortKeyOrder.key=='name'}"></i>
                                        <i ng-class="{'fa fa-angle-double-down':vm.gridModel.sortKeyOrder.order=='DESC' && vm.gridModel.sortKeyOrder.key=='name'}"></i>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pagegrid.sort('surname')">Surname</a>
                                        <i ng-class="{'fa fa-angle-double-up':vm.gridModel.sortKeyOrder.order=='ASC' && vm.gridModel.sortKeyOrder.key=='surname'}"></i>
                                        <i ng-class="{'fa fa-angle-double-down':vm.gridModel.sortKeyOrder.order=='DESC' && vm.gridModel.sortKeyOrder.key=='surnamer'}"></i>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pageGrid.sort('relationship')">Relationship</a>
                                        <i ng-class="{'fa fa-angle-double-up':vm.gridModel.sortKeyOrder.order=='ASC' && vm.gridModel.sortKeyOrder.key=='relationship'}"></i>
                                        <i ng-class="{'fa fa-angle-double-down':vm.gridModel.sortKeyOrder.order=='DESC' && vm.gridModel.sortKeyOrder.key=='relationship'}"></i>
                                    </th>
                                    <th>
                                        <a ng-click="vm.pageGrid.sort('cellphoneNumber')">Cellphone Number</a>
                                        <i ng-class="{'fa fa-angle-double-up':vm.gridModel.sortKeyOrder.order=='ASC' && vm.gridModel.sortKeyOrder.key=='cellphoneNumber'}"></i>
                                        <i ng-class="{'fa fa-angle-double-down':vm.gridModel.sortKeyOrder.order=='DESC' && vm.gridModel.sortKeyOrder.key=='cellphoneNumber'}"></i>
                                    </th>

                                    <th>
                                        <a ng-click="vm.pageGrid.sort('landLineNumber')">Land Line Number</a>
                                        <i ng-class="{'fa fa-angle-double-up':vm.gridModel.sortKeyOrder.order=='ASC' && vm.gridModel.sortKeyOrder.key=='landLineNumber'}"></i>
                                        <i ng-class="{'fa fa-angle-double-down':vm.gridModel.sortKeyOrder.order=='DESC' && vm.gridModel.sortKeyOrder.key=='landLineNumber'}"></i>
                                    </th>


                                    <th>
                                        <a class="btn btn-xs btn-fw btn-primary" ng-click="vm.newEmergencyContact()">
                                            <i class="fa fa-plus"></i> New
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="i in vm.gridModel.data" st-select-row="row">
                                    <td>{{i.name}}</td>
                                    <td>{{i.surname}}</td>
                                    <td>{{i.relationship}}</td>
                                    <td>{{i.cellphoneNumber}}</td>
                                    <td>{{i.landLineNumber}}</td>
                                    <td>
                                        <a class="btn btn-xs btn-fw btn-outline b-{{app.setting.theme.primary}} text-{{app.setting.theme.primary}}"
                                           ui-sref="mainState.maintenance.userMaintenance.emergencyContactDetail({id: i.id})">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>

                                        <a class="btn btn-xs btn-fw btn-outline b-{{app.setting.theme.danger}} text-{{app.setting.theme.danger}}"
                                           ng-click="vm.deleteRecord(i)">
                                            <i class="fa fa-delete"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-show="vm.gridModel.data.length == 0">
                                    <td colspan="4">
                                        No Records
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>

                        </form>


                        <div class="row">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>